index.haml
<!doctype html>
%html{:lang => "en"} 
%head 
  %meta{:charset => "UTF-8"}/ 
  %title Special bet
  %link{:rel => "stylesheet", :href => "style.css"}/ 
  / Bootstrap css
  %link{:rel => "stylesheet", :href => "assets/css/bootstrap.min.css"}/ 
  /JQuery
  %script{ :src => "//code.jquery.com/jquery.js" }
  / Bootsrap JS
  %script{ :src => "assets/js/bootstrap.min.js"}
  %body 
  .container 
    %header.row 
      .col-xs-6.main-logo 
        %a{:href => "index.html"} 
          %img{:src => "assets/img/main-logo.png", :alt => "Special Bet"}/ 
    %nav.row 
      .col-xs-12 
        %ul.top-menu.pull-right
          %li 
            %a{:href => "#"} Главная
          %li 
            %a{:href => "#"} Статистика
          %li 
            %a{:href => "#"} Прогнозы
          %li 
            %a{:href => "#"} Новости
          %li 
            %a{:href => "#"} О нас
          %li 
            %a{:href => "#"} Гарантии
          %li 
            %a{:href => "#"} Связь и оплата
  .container.page 
    .row 
      .col-xs-12.main-slider 
        #carousel-example-generic.carousel.slide
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "3", "data-target" => "#carousel-example-generic"}
            %li{"data-slide-to" => "4", "data-target" => "#carousel-example-generic"}
          / Wrapper for slides
          .carousel-inner
            .item.active
              %img{alt: "", src: "assets/img/slider/1.jpg"}/
              .carousel-caption
                %h4.pull-left 
                  %a{:href => "#"} Лучшие ставки на
                %h4.pull-right 
                  %a{:href => "#"} Футбольные матчи
            .item
              %img{alt: "", src: "http://placehold.it/925x298/fff/333"}/
              .carousel-caption
                %h4.pull-left 
                  %a{:href => "#"} Лучшие ставки на
                %h4.pull-right 
                  %a{:href => "#"} Футбольные матчи
            .item
              %img{alt: "", src: "http://placehold.it/925x298/333/fff"}/
              .carousel-caption
                %h4.pull-left 
                  %a{:href => "#"} Лучшие ставки на
                %h4.pull-right 
                  %a{:href => "#"} Футбольные матчи
            .item
              %img{alt: "", src: "http://placehold.it/925x298/fff/333"}/
              .carousel-caption
                %h4.pull-left 
                  %a{:href => "#"} Лучшие ставки на
                %h4.pull-right 
                  %a{:href => "#"} Футбольные матчи
            .item
              %img{alt: "", src: "http://placehold.it/925x298/333/fff"}/
              .carousel-caption
                %h4.pull-left 
                  %a{:href => "#"} Лучшие ставки на
                %h4.pull-right 
                  %a{:href => "#"} Футбольные матчи
        .ms-reg 
          %a{:href => "#"} Регистрация
    .row.content-page
      .col-xs-8.main-content 
        %article.mc-article 
          %h1.mca-title Точные прогноз на спорт от профессионалов
          
          %p.mca-text 
            %img.mca-img{:src => "assets/img/footbal-img1.jpg", :alt => "Точные прогноз на спорт от профессионалов"}/ 
            На нашем сайте мы предлагаем точные прогнозы на спорт, наша специализация - 
            %a{:href => "#"} прогнозы на футбол.
            Здесь вы найдете прогнозы на спорт от профессионалов. Так же на сайте находится множество полезных материалов, посвященных ставкам, тактикам ставок, методам. интересную информацию о спортивных прогнозах и событиях, происходящих в мире.
        %article.mc-article 
          %ul.mc-article-list 
            %li 
              %p Наша команда состоит из опытных, уже не первый год составляющих спортивные прогнозы, ценителей спорта и в частности футбола.
            %li 
              %p Накопленный нами большой опыт позволяет нам составлять точные прогнозы на спорт, в частности прогнозы на футбол.
            %li 
              %p
                Мы с радостью готовы предоставить вам наши лучшие 
                %a{:href => "#"}платные прогнозы на спорт
                и поделиться опытом.
            %li 
              %p В случае необходимости дадим ценные советы, чтобы и вам стало проще зарабатывать в этом увлекательном мире ставок.
        %article.mc-article.mca-bottom
          %p Постоянным клиентам мы рады предоставить специальные условия приобретения прогнозов (обсуждаются индивидуально).
          %p На все платные прогнозы на спорт от профессионалов, которые мы предлагаем на нашем сайте, мы обязательно делаем ставки сами (в общем то это, естественно, и есть наш основной доход), специально под отдельного человека или группу людей наши платные прогнозы на футбол не разрабатываются, мы не видим в этом никакого смысла.
          .mca-question
            %a{:href => "#"}Возник вопрос? Нажми получить ответ !
            %i.mcaq-question ?
            %i.mcaq-arrow 
          %p Так же не рекомендуем вам сайты с персональными прогнозами, хорошему прогнозисту просто невыгодно тратить свое время, чтобы получить лишние 2 - 4 тысячи рублей, разработав кому-то платный прогноз на спорт персонально.
          %p Никогда не ставьте последние деньги, только жулики гарантируют, что все прогнозы сбудутся на 100%. Точные прогнозы на спорт подразумевают под собой прогнозы с высокой проходимостью. Подходите к ставкам с умом, и тогда у вас точно все получится, а мы будем рады помочь вам достичь успеха!

      .col-xs-4.right-blocks
        .row 
          .col-xs-12.right-login.right-block
            %h4 Вход
            %form.form-horizontal{role: "form"}
              .form-group
                .col-lg-10
                  %input#inputEmail1.form-control{placeholder: "Логин", type: "email"}/
              .form-group
                .col-lg-10
                  %input#inputPassword1.form-control{placeholder: "Пароль", type: "password"}/
              .form-group.pull-right
                .col-lg-12.fg-links 
                  %a.fgl-gray{:href => "#"} Забыли пароль?
                  %a{:href => "#"} Забыли логин?
                  %a.fgl-gray{:href => "#"} Регистрация
              .fg-left.pull-left
                .form-group
                  .col-lg-12
                    .checkbox
                      %label.rb-checkbox
                        %input{type: "checkbox", checked: ""}/
                        %span Запомнить меня
                .form-group
                  .col-lg-8
                    %button.btn.btn-default{type: "submit"} Войти
          .col-xs-12.right-preview.right-block
            %h4 Анонс
            %table.rp-table 
              %tr.rpt-head 
                %td Догов. матч
                %td Ожидается
              %tr.rtp-space
                %td 
                %td 
              %tr 
                %td Страна
                %td ==
              %tr 
                %td Вероятность
                %td 99%
              %tr 
                %td Коэффициент
                %td ==
              %tr 
                %td Цена
                %td 150 у.е.
            %table.rp-table 
              %tr.rpt-head 
                %td Прогноз дня
                %td Сегодня
              %tr.rtp-space
                %td 
                %td 
              %tr 
                %td Страна
                %td ==
              %tr 
                %td Вероятность
                %td 99%
              %tr 
                %td Коэффициент
                %td <2
              %tr 
                %td Цена
                %td 25 у.е.
          .col-xs-12.right-banner 
            %h3 Баннер
  %footer.container.main-footer 
    .row 
      .col-xs-6.mf-left 
        %p © 2012-2013
        %p Прогнозы на футбол, спортивные прогнозы. Все права защищены.
      .col-xs-6.pull-right.mf-right 
        %a{:href => "#"} 
          %img{:src => "assets/img/counter.png", :alt => ""}/ 

index.html
<!doctype html>
<html lang='en'></html>
<head>
  <meta charset='UTF-8'>
  <title>Special bet</title>
  <link href='style.css' rel='stylesheet'>
  <!-- Bootstrap css -->
  <link href='assets/css/bootstrap.min.css' rel='stylesheet'>
  <!-- JQuery -->
  <script src='//code.jquery.com/jquery.js'></script>
  <!-- Bootsrap JS -->
  <script src='assets/js/bootstrap.min.js'></script>
  <body></body>
  <div class='container'>
    <header class='row'>
      <div class='col-xs-6 main-logo'>
        <a href='index.html'>
          <img alt='Special Bet' src='assets/img/main-logo.png'>
        </a>
      </div>
    </header>
    <nav class='row'>
      <div class='col-xs-12'>
        <ul class='top-menu pull-right'>
          <li>
            <a href='#'>Главная</a>
          </li>
          <li>
            <a href='#'>Статистика</a>
          </li>
          <li>
            <a href='#'>Прогнозы</a>
          </li>
          <li>
            <a href='#'>Новости</a>
          </li>
          <li>
            <a href='#'>О нас</a>
          </li>
          <li>
            <a href='#'>Гарантии</a>
          </li>
          <li>
            <a href='#'>Связь и оплата</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class='container page'>
    <div class='row'>
      <div class='col-xs-12 main-slider'>
        <div class='carousel slide' id='carousel-example-generic'>
          <!-- Indicators -->
          <ol class='carousel-indicators'>
            <li class='active' data-slide-to='0' data-target='#carousel-example-generic'></li>
            <li data-slide-to='1' data-target='#carousel-example-generic'></li>
            <li data-slide-to='2' data-target='#carousel-example-generic'></li>
            <li data-slide-to='3' data-target='#carousel-example-generic'></li>
            <li data-slide-to='4' data-target='#carousel-example-generic'></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class='carousel-inner'>
            <div class='item active'>
              <img alt='' src='assets/img/slider/1.jpg'>
              <div class='carousel-caption'>
                <h4 class='pull-left'>
                  <a href='#'>Лучшие ставки на</a>
                </h4>
                <h4 class='pull-right'>
                  <a href='#'>Футбольные матчи</a>
                </h4>
              </div>
            </div>
            <div class='item'>
              <img alt='' src='http://placehold.it/925x298/fff/333'>
              <div class='carousel-caption'>
                <h4 class='pull-left'>
                  <a href='#'>Лучшие ставки на</a>
                </h4>
                <h4 class='pull-right'>
                  <a href='#'>Футбольные матчи</a>
                </h4>
              </div>
            </div>
            <div class='item'>
              <img alt='' src='http://placehold.it/925x298/333/fff'>
              <div class='carousel-caption'>
                <h4 class='pull-left'>
                  <a href='#'>Лучшие ставки на</a>
                </h4>
                <h4 class='pull-right'>
                  <a href='#'>Футбольные матчи</a>
                </h4>
              </div>
            </div>
            <div class='item'>
              <img alt='' src='http://placehold.it/925x298/fff/333'>
              <div class='carousel-caption'>
                <h4 class='pull-left'>
                  <a href='#'>Лучшие ставки на</a>
                </h4>
                <h4 class='pull-right'>
                  <a href='#'>Футбольные матчи</a>
                </h4>
              </div>
            </div>
            <div class='item'>
              <img alt='' src='http://placehold.it/925x298/333/fff'>
              <div class='carousel-caption'>
                <h4 class='pull-left'>
                  <a href='#'>Лучшие ставки на</a>
                </h4>
                <h4 class='pull-right'>
                  <a href='#'>Футбольные матчи</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class='ms-reg'>
          <a href='#'>Регистрация</a>
        </div>
      </div>
    </div>
    <div class='row content-page'>
      <div class='col-xs-8 main-content'>
        <article class='mc-article'>
          <h1 class='mca-title'>Точные прогноз на спорт от профессионалов</h1>
          <p class='mca-text'>
            <img alt='Точные прогноз на спорт от профессионалов' class='mca-img' src='assets/img/footbal-img1.jpg'>
            На нашем сайте мы предлагаем точные прогнозы на спорт, наша специализация -
            <a href='#'>прогнозы на футбол.</a>
            Здесь вы найдете прогнозы на спорт от профессионалов. Так же на сайте находится множество полезных материалов, посвященных ставкам, тактикам ставок, методам. интересную информацию о спортивных прогнозах и событиях, происходящих в мире.
          </p>
        </article>
        <article class='mc-article'>
          <ul class='mc-article-list'>
            <li>
              <p>Наша команда состоит из опытных, уже не первый год составляющих спортивные прогнозы, ценителей спорта и в частности футбола.</p>
            </li>
            <li>
              <p>Накопленный нами большой опыт позволяет нам составлять точные прогнозы на спорт, в частности прогнозы на футбол.</p>
            </li>
            <li>
              <p>
                Мы с радостью готовы предоставить вам наши лучшие
                <a href='#'>платные прогнозы на спорт</a>
                и поделиться опытом.
              </p>
            </li>
            <li>
              <p>В случае необходимости дадим ценные советы, чтобы и вам стало проще зарабатывать в этом увлекательном мире ставок.</p>
            </li>
          </ul>
        </article>
        <article class='mc-article mca-bottom'>
          <p>Постоянным клиентам мы рады предоставить специальные условия приобретения прогнозов (обсуждаются индивидуально).</p>
          <p>На все платные прогнозы на спорт от профессионалов, которые мы предлагаем на нашем сайте, мы обязательно делаем ставки сами (в общем то это, естественно, и есть наш основной доход), специально под отдельного человека или группу людей наши платные прогнозы на футбол не разрабатываются, мы не видим в этом никакого смысла.</p>
          <div class='mca-question'>
            <a href='#'>Возник вопрос? Нажми получить ответ !</a>
            <i class='mcaq-question'>?</i>
            <i class='mcaq-arrow'></i>
          </div>
          <p>Так же не рекомендуем вам сайты с персональными прогнозами, хорошему прогнозисту просто невыгодно тратить свое время, чтобы получить лишние 2 - 4 тысячи рублей, разработав кому-то платный прогноз на спорт персонально.</p>
          <p>Никогда не ставьте последние деньги, только жулики гарантируют, что все прогнозы сбудутся на 100%. Точные прогнозы на спорт подразумевают под собой прогнозы с высокой проходимостью. Подходите к ставкам с умом, и тогда у вас точно все получится, а мы будем рады помочь вам достичь успеха!</p>
        </article>
      </div>
      <div class='col-xs-4 right-blocks'>
        <div class='row'>
          <div class='col-xs-12 right-login right-block'>
            <h4>Вход</h4>
            <form class='form-horizontal' role='form'>
              <div class='form-group'>
                <div class='col-lg-10'>
                  <input class='form-control' id='inputEmail1' placeholder='Логин' type='email'>
                </div>
              </div>
              <div class='form-group'>
                <div class='col-lg-10'>
                  <input class='form-control' id='inputPassword1' placeholder='Пароль' type='password'>
                </div>
              </div>
              <div class='form-group pull-right'>
                <div class='col-lg-12 fg-links'>
                  <a class='fgl-gray' href='#'>Забыли пароль?</a>
                  <a href='#'>Забыли логин?</a>
                  <a class='fgl-gray' href='#'>Регистрация</a>
                </div>
              </div>
              <div class='fg-left pull-left'>
                <div class='form-group'>
                  <div class='col-lg-12'>
                    <div class='checkbox'>
                      <label class='rb-checkbox'>
                        <input checked='' type='checkbox'>
                        <span>Запомнить меня</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class='form-group'>
                  <div class='col-lg-8'>
                    <button class='btn btn-default' type='submit'>Войти</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class='col-xs-12 right-preview right-block'>
            <h4>Анонс</h4>
            <table class='rp-table'>
              <tr class='rpt-head'>
                <td>Догов. матч</td>
                <td>Ожидается</td>
              </tr>
              <tr class='rtp-space'>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Страна</td>
                <td>==</td>
              </tr>
              <tr>
                <td>Вероятность</td>
                <td>99%</td>
              </tr>
              <tr>
                <td>Коэффициент</td>
                <td>==</td>
              </tr>
              <tr>
                <td>Цена</td>
                <td>150 у.е.</td>
              </tr>
            </table>
            <table class='rp-table'>
              <tr class='rpt-head'>
                <td>Прогноз дня</td>
                <td>Сегодня</td>
              </tr>
              <tr class='rtp-space'>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Страна</td>
                <td>==</td>
              </tr>
              <tr>
                <td>Вероятность</td>
                <td>99%</td>
              </tr>
              <tr>
                <td>Коэффициент</td>
                <td><2</td>
              </tr>
              <tr>
                <td>Цена</td>
                <td>25 у.е.</td>
              </tr>
            </table>
          </div>
          <div class='col-xs-12 right-banner'>
            <h3>Баннер</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class='container main-footer'>
    <div class='row'>
      <div class='col-xs-6 mf-left'>
        <p>© 2012-2013</p>
        <p>Прогнозы на футбол, спортивные прогнозы. Все права защищены.</p>
      </div>
      <div class='col-xs-6 pull-right mf-right'>
        <a href='#'>
          <img alt='' src='assets/img/counter.png'>
        </a>
      </div>
    </div>
  </footer>
</head>
